@use '@/assets/vars' as *;

.shopName {
  font-weight: $fontWeightBold;
  margin-top: 1.4rem;

  & > span {
    display: block;
    position: relative;
    white-space: nowrap;

    &:first-child {
      text-shadow: 1px 1px 0 #ff9400;
    }

    &:last-child {
      margin-left: 1.1em;
      -webkit-text-stroke: 1px white;
      font-size: 1.3em;
      text-shadow: 3px 3px 0 #ff9400;
    }
  }

  .exclaimationMark {
    display: inline-block;
    margin-left: 0.3em;
    transform: rotate(28deg);
    position: relative;
  }
}
